body {
  background-color: black;
  margin: 1em;
  font-size: 18pt;
}

p {
  margin: 0.25em;
}

.season-1 p {
  color: #3249DC;
}

.season-2 p {
  color: #D432DC;
}

.season-3 p {
  color: #21A82B;
}

.season-4 p {
  color: yellow;
}

a:link {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: white;
}

a:active {
  text-decoration: none;
}
.blinking{
  animation:blinkingText 2s infinite;
}
@keyframes blinkingText{
    0%{     color: #21A82B;    }
    25%{    color: #3249DC;    }
    50%{    color: #D432DC;    }
    75%{    color: #21A82B;    }
    100%{   color: yellow;    }
}
