body {
  /*background-color: #fffc9c;*/
  background: rgb(255,252,156);
  background: radial-gradient(circle, rgba(255,252,156,1) 61%, rgba(148,187,233,1) 100%);
  margin: 1em;
}

p {
  margin: 0.25em;
}

.season-1 p {
  color: #3249DC;
}

.season-2 p {
  color: #D432DC;
}

.season-3 p {
  color: #21A82B;
}

a:link {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: white;
}

a:active {
  text-decoration: none;
}
.blinking{
    animation:blinkingText 2s infinite;
}
@keyframes blinkingText{
    0%{     color: #21A82B;    }
    33%{    color: #3249DC;    }
    66%{    color: #D432DC;    }
    100%{   color: #21A82B;    }
}
